mat-dialog-content {
    width: 2400px;
    background-color: white;
}

mat-dialog-content p {
    color: rgb(20, 20, 20);
}

.value-span {
  color: rgb(241, 101, 101);
}

.div-submodel-element {
  border: 1px solid #fcf8f8;
}