mat-dialog-content {
    width: 800px;
}

textarea {
    width: 750px;
}

.endpoint {
    width: 750px;
    height: 100px;
}

.realData {
    width: 750px;
    height: 1000px;
}


button {
    margin-right: 8px;
}
  