mat-dialog-content {
    width: 700px;
}

.form-field {
    margin-right: 10px;
    width: 300px;
}

#form-field-id {
    width: 80%;
}

.form-field-policy {
    box-sizing: border-box;
    margin-right: 0;
    width: 80%;
}

#form-field-access-policy {
    padding-right: 0px;
}

#form-field-contract-policy {
    padding-left: 0px;
}

.form-field-assets {
    width: 80%;
}

.form-field-operator {
    width: 90px;
}

mat-card-actions {
    margin-left: 5px;
}