mat-dialog-content {
    width: 900px;
}

.form-field {
    margin-right: 10px;
    width: 850px;
}

mat-card-actions {
    margin-left: 0;
}

.mdc-button {    
    margin: 10px;
}

textarea {
    width: 830px;
}
