mat-dialog-content {
    width: 1200px;
}

.form-field {
    margin-right: 10px;
    width: 1150px;
}

mat-card-actions {
    margin-left: 0;
}

.mdc-button {    
    margin: 10px;
}

textarea {
    width: 1130px;
}

.error-message {
  margin-left: 20px;
}
