mat-dialog-content {
    width: 1200px;
}

table {
    border: solid 1px #add9c0;
    border-width: 1px 0px 0px 1px;
}

th {
    border: solid #add9c0;
    border-width: 0px 1px 1px 0px;
}

td {
    border: solid #add9c0;
    border-width: 0px 1px 1px 0px;
}

.td-bpn {
    width: 18%;
}


.span-endpoint {
    width: 80%;
    margin: 10px;
}

