#wrapper {
  margin: 20px;
}

.main-property-icon {
  font-size: 12px;
}

.search-form-field {
  min-width: 200px;
  width: 30%;
  margin-top: 18px;
}

mat-paginator {
  display: inline-block;
  background-color: transparent;
}

.container {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap between elements */
}

.mdc-button {    
  margin: 10px;
}

.shells-table-header th {
  font-weight: bold;
  background-color: #89B7C6;
}

.table-header-container{
  gap: 10px;
  display: flex;
  align-items: center;
}

th.mat-sort-header-sorted {
  color: black;
}