<div id="wrapper">
    <div *ngIf="filteredPackages$ | async as filteredPackages" >
      <!-- Search Bar -->
      <mat-form-field class="search-form-field" color="accent">
        <mat-label>Search by AasIds</mat-label>
        <input (input)="onSearch()" [(ngModel)]="searchText" matInput>
        <mat-icon matPrefix>search</mat-icon>
        <button (click)="searchText=''; onSearch()" *ngIf="searchText" mat-icon-button matSuffix>
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <!-- paginator -->
      <mat-paginator [length]="(filteredPackages)?.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="onPageChange($event)"> </mat-paginator>
      <button (click)="onUpload()" color="primary" mat-raised-button  class="action-button">
        Upload
      </button>
      <table mat-table [dataSource]="filteredPackages | slice: offset : (offset + pageSize)" class="mat-elevation-z8">
        <ng-container matColumnDef="packageId">
            <th mat-header-cell *matHeaderCellDef scope="col">PackageId</th>
            <td mat-cell *matCellDef="let item">{{item.packageId}}</td>
        </ng-container>
 
        <ng-container matColumnDef="aasIds">
            <th mat-header-cell *matHeaderCellDef scope="col">AasIds</th>
            <td mat-cell *matCellDef="let item">{{item.aasIds[0]}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef scope="col">Actions</th>
          <td mat-cell *matCellDef="let item" class="singleline-cell">
            <button (click)="onDownload(item.packageId)" color="primary" mat-raised-button  class="action-button">
              Download
            </button>
            <button (click)="onUpdate(item.packageId)" color="primary" mat-raised-button  class="action-button">
              Update
            </button>
            <button (click)="onDelete(item.packageId)" color="warn" mat-raised-button  class="action-button">
              Delete
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns" class="packages-table-header"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
    </div>
</div>
