<mat-dialog-content>
  <div class="container">
    <div>
      <input type="file" (change)="onFileSelected($event)" accept=".aasx">
      <button (click)="uploadFile()">Upload</button>
      <p *ngIf="uploadStatus">{{ uploadStatus }}</p>
      <div *ngIf="err">
      <p *ngIf="err.error.Messages">{{ err.error.Messages[0].Text }}</p>
    </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button (click)="onCancel()"  color="accent" mat-dialog-close mat-stroked-button>
        <mat-icon>cancel</mat-icon> Cancel
    </button>
</mat-dialog-actions>
