mat-dialog-content {
    width: 2400px;
}

.form-field {
    margin-right: 15px;
    width: 700px;
}

.form-field-big {
    margin-right: 10px;
    width: 1435px;
}

mat-card-actions {
    margin-left: 0;
}

.div-submodel-element {
  border: 1px solid #fcf8f8;
}

.mdc-button {    
    margin: 10px;
}

textarea {
    width: 1415px;
}