mat-dialog-content {
    width: 800px;
}

.form-field {
    margin-right: 10px;
    width: 350px;
}

.form-field-assetTypes {
    width: 710px;
}

.form-field-baseUrl {
    width: 710px;
}

.form-field-semanticId {
    width: 710px;
}

mat-card-actions {
    margin-left: 0;
}

.mdc-button {
    margin: 10px;
  }
